<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.cs.man.ac.uk/mdsd/2010/GenJsf"
            class="uk.ac.man.cs.mdsd.genjsf.provider.GenJsfItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://www.cs.man.ac.uk/mdsd/2013/GenCriteria"
            class="uk.ac.man.cs.mdsd.genjsf.provider.GenJsfItemProviderAdapterFactory$GencriteriaChildCreationExtender"/>
   </extension>

</plugin>
