<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Orm -->
      <package
            uri="http://cs.manchester.ac.uk/mdsd/ObjectRelationalMapping"
            class="uk.ac.man.cs.mdsd.orm.OrmPackage"
            genModel="model/Orm.xcore"/>
   </extension>

</plugin>
