<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Orm -->
      <package
            uri="http://andycarpenter.work/metamodel/ObjectRelationalMapping"
            class="work.andycarpenter.metamodel.orm.OrmPackage"
            genModel="model/Orm.xcore"/>
   </extension>

</plugin>
