/CreateConstant_value_BooleanLiteral.gif
/CreateConstant_value_ConstantReference.gif
/CreateConstant_value_CurrentTime.gif
/CreateConstant_value_CurrentUser.gif
/CreateConstant_value_FeatureReference.gif
/CreateConstant_value_IntegerLiteral.gif
/CreateConstant_value_NullLiteral.gif
/CreateConstant_value_ParameterReference.gif
/CreateConstant_value_PredicateBooleanOperator.gif
/CreateConstant_value_PredicateComparisonOperator.gif
/CreateConstant_value_PredicateEqualityOperator.gif
/CreateConstant_value_PredicateInOperator.gif
/CreateConstant_value_PredicateIsEmpty.gif
/CreateConstant_value_PredicateIsNull.gif
/CreateConstant_value_PredicateIsOperator.gif
/CreateConstant_value_PredicateLikeOperator.gif
/CreateConstant_value_StringLiteral.gif
/CreateConstant_value_TimeLiteral.gif
