<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Expression -->
      <package
            uri="http://andycarpenter.work/metamodel/expression"
            class="work.andycarpenter.metamodel.expression.ExpressionPackage"
            genModel="model/Expression.xcore"/>
   </extension>

</plugin>
