<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.cs.man.ac.uk/mdsd/2010/Jsf"
            class="uk.ac.man.cs.mdsd.jsf.provider.JsfItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Jsf -->
      <extender
            uri="http://www.cs.man.ac.uk/mdsd/2013/Criteria"
            class="uk.ac.man.cs.mdsd.jsf.provider.JsfItemProviderAdapterFactory$CriteriaChildCreationExtender"/>
   </extension>

</plugin>
