<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.cs.man.ac.uk/mdsd/2010/GenJsf"
            class="uk.ac.man.cs.mdsd.genjsf.GenJsfPackage"
            genModel="model/GenJsf.genmodel"/>
   </extension>

</plugin>
