<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/03/23 10:49:49 andy Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.cs.man.ac.uk/mdsd/2015/WebApplicationFramework"
            class="uk.ac.man.cs.mdsd.waf.WafPackage"
            genModel="model/waf.genmodel"/>
   </extension>

</plugin>
