<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Waf -->
      <package
            uri="http://cs.manchester.ac.uk/mdsd/WebApplicationFramework"
            class="uk.ac.man.cs.mdsd.waf.WafPackage"
            genModel="model/Waf.xcore"/>
   </extension>

</plugin>
