<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/03/23 10:48:05 andy Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="uk.ac.man.cs.mdsd.genjsf.presentation.GenJsfModelWizardID"
            name="%_UI_GenJsfModelWizard_label"
            class="uk.ac.man.cs.mdsd.genjsf.presentation.GenJsfModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GenJsfModelFile.gif">
         <description>%_UI_GenJsfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="uk.ac.man.cs.mdsd.genjsf.presentation.GenJsfEditorID"
            name="%_UI_GenJsfEditor_label"
            icon="icons/full/obj16/GenJsfModelFile.gif"
            extensions="website_genjsf"
            class="uk.ac.man.cs.mdsd.genjsf.presentation.GenJsfEditor"
            contributorClass="uk.ac.man.cs.mdsd.genjsf.presentation.GenJsfActionBarContributor">
      </editor>
   </extension>

</plugin>
