<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.cs.man.ac.uk/mdsd/2010/ObjectRelationalMapping"
            class="work.andycarpenter.metamodel.orm.provider.OrmItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Orm -->
      <extender
            uri="http://andycarpenter.work/metamodel/base"
            class="work.andycarpenter.metamodel.orm.provider.OrmItemProviderAdapterFactory$BaseChildCreationExtender"/>
      <extender
            uri="http://andycarpenter.work/metamodel/expression"
            class="work.andycarpenter.metamodel.orm.provider.OrmItemProviderAdapterFactory$ExpressionChildCreationExtender"/>
   </extension>
</plugin>
