<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Waf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="work.andycarpenter.metamodel.waf.presentation.WafModelWizardID"
            name="%_UI_WafModelWizard_label"
            class="work.andycarpenter.metamodel.waf.presentation.WafModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WafModelFile.gif">
         <description>%_UI_WafModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Waf -->
      <editor
            id="work.andycarpenter.metamodel.waf.presentation.WafEditorID"
            name="%_UI_WafEditor_label"
            icon="icons/full/obj16/WafModelFile.gif"
            extensions="waf"
            class="work.andycarpenter.metamodel.waf.presentation.WafEditor"
            contributorClass="work.andycarpenter.metamodel.waf.presentation.WafActionBarContributor">
      </editor>
   </extension>
</plugin>
