<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.cs.man.ac.uk/mdsd/2013/Criteria"
            class="uk.ac.man.cs.mdsd.criteria.CriteriaPackage"
            genModel="model/Criteria.genmodel"/>
   </extension>

</plugin>
