<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.website_genjsf"
            id="uk.ac.man.cs.mdsd.jsf.m2t.symfony.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="uk.ac.man.cs.mdsd.jsf.m2t.symfony.ui.popupMenus.AcceleoGenerateSymfonyAction"
               enablesFor="+"
               id="uk.ac.man.cs.mdsd.jsf.m2t.symfony.ui.popupMenus.acceleoGenerateSymfonyAction"
               icon="icons/default.gif"
               label="Generate Symfony"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
